@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* COLORS  */
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);

  /* FONT */
  --body-font: "Manrope", Trebuchet;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--Light-Grayish-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
  font-family: var(--body-font);
  font-size: 13px;
  box-sizing: border-box;
}

article {
  width: 40%;
  min-width: 615px;
  height: 240px;
  display: flex;
  align-items: center;
  box-shadow: 5px 1px 34px var(--Grayish-Blue);
  border-radius: 10px;
  position: relative;

}
.product_image {
  width: 40%;
  height: 240px;
  background-image: url(../images/drawers.jpg);
  background-position: 15%;
  background-size: cover;
  border-radius: 10px 0 0 10px;
}

.buyer_review {
  background: white;
  width: 65%;
  padding: 10px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  border-radius: 0 10px 10px 0;
}
.buyer_review h1 {
  color: var(--Very-Dark-Grayish-Blue);
  font-size: 1.1rem;
}
.buyer_review p {
  color: var(--Desaturated-Dark-Blue);
  font-size: 0.7rem;
  line-height: 1.1rem;
}
.div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buyer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.buyer img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.buyer_info {
  line-height: 1rem;
}
.buyer_info p:nth-child(1) {
  color: var(--Very-Dark-Grayish-Blue);
  font-weight: 700;
}
.share {
  background: var(--Light-Grayish-Blue);
  padding: 10px;
  padding-left: 12px;
  border-radius: 50%;
}
.share svg {
  fill: #6e8098;
}
.share_mobile{
display:  none;
}
.share:hover {
  background: #6e8098;
  cursor: pointer;
}
.share:hover svg {
  fill: #fff;
}
.sharediv{
  display: flex;
  justify-content: space-around;
  width: 100%;    
  gap: 1rem;
}
#share-pop-up {
  position: absolute;
  top: 110px;
  right: -60px;
  background: var(--Very-Dark-Grayish-Blue);
  padding: 15px 30px;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 14px;
  z-index: 10;
  cursor: auto;
}
.socials img{
margin-right: 0.8rem;
}
.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

#share-pop-up p {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 0.4rem;
}
#share-pop-up::before {
  content: "";
  position: absolute;
  bottom: -9px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--Very-Dark-Grayish-Blue);
}
#share-pop-up:hover img {
  cursor: pointer;
}
#share_icon_mobile{
display: none;
}
.attribution {
  font-size: 1rem;
}
.attribution a {
  text-decoration: none;
  color: var(--Desaturated-Dark-Blue);
}
.attribution a:hover {
  color: var(--Very-Dark-Grayish-Blue);
}
@media screen and (max-width: 700px) {
  article {
    height: auto;
    flex-direction: column;
    min-width: 50%;
    overflow: hidden;

  }
  .product_image {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }
  .buyer_review {
    width: 100%;
    padding: 30px 25px 15px;
    gap: 1rem;

  }
  .div {
    margin: 0px;
    padding: 0;
    width: 100%;
    
  }

  .sharediv{
width: 60%;
    align-items: center;
  }
  
  #share-pop-up {
    position: absolute;
top: 89%;
bottom: 0;
    border-radius: 0;
    width: 100%;
    left: 0;
    background: var(--Very-Dark-Grayish-Blue);
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
  }
  #share-pop-up::before{
display: none; 
 }
 .share{
  padding: 8px;
  padding-left: 10px;
 }
 .share_mobile{
  background: var(--Desaturated-Dark-Blue);
  padding: 8px;
      border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
 #share_icon_mobile{
  display: block;
  transform: translateX(1px);
 }
 #share_icon_mobile:hover{
  cursor: pointer;
 }
 #share_icon_mobile{
fill:rgb(255, 255, 255);

 }

}
@media screen and (max-width: 550px) {
  article {
    height: auto;
    min-width: 330px;
    box-shadow: none;

  }}
